body {
    margin: 0;
    padding: 0;
    background-image: url("3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Arial, sans-serif;
}


#logo {
    position: absolute;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 600px;
    /* Replac4 'your-logo.png' with the actual path to your company logo */
    background-image: url('muvitaab-removebg-preview.png');
    background-size: cover;
}

.login-container {
    position: relative;
    font-weight: bold;
    top: 70px;
    width: 400px;
    height: 220px;
    margin: 100px auto;
    padding: 20px;
    background-image: linear-gradient(to right, #fbd59f92, #f7a5cb8f);
    border-radius: 30px;
    text-align: center;
}

.login-form {
    margin-top: 20px;
    margin-left: 25px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label,
.form-group input {
    display: block;
    width: 90%;
}

.form-group input {
    padding: 8px;
    border: 1px solid #490303;
    border-radius: 4px;
    outline: none;
}

.form-group input:hover{
    background-image: linear-gradient(#fbd59f92, #f7a5cb8f);
}


.form-group input:focus {
    border-color: #241a65;
}

.btn-login {
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #013b67, #013b67);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .btn-login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-login span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-login:hover span {
    padding-right: 25px;
  }
  
  .btn-login:hover span:after {
    opacity: 1;
    right: 0;
  }

  .btn-forgot {
    width: 180px;
    height: 40px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #013b67, #013b67);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 50px;
  }
  
  .btn-forgot span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-forgot span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-forgot:hover span {
    padding-right: 25px;
  }
  
  .btn-forgot:hover span:after {
    opacity: 1;
    right: 0;
  }

